$page-width: 720px;

@charset "utf-8";

body {
  color: #555;
  background: #eee;
  font-family: sans-serif;
  font-size: 20px;

  a {
    text-decoration: underline;
  }

  a:link {
    color: #333;
  }

  a:visited {
    color: #444;
  }

  a:hover {
    color: #000;
  }
}

h1 {
  font-weight: bold;
  font-size: 32px;
  font-family: "Lilita One", cursive;
  padding: 1em;
  margin: 0;
  text-align: center;

  a:link, a:visited, a:hover {
    color: inherit;
    text-decoration: none;
  }
}

#content {
  width: $page-width;
  margin: 0 auto;

  .date {
    text-align: center;
  }

  .share {
    text-align: center;
  }

  h2 {
    padding: 10px 0;
    text-align: center;
    font-size: 28px;

    a:link, a:visited, a:hover {
      color: inherit;
      text-decoration: none;
    }
  }

  h3 {
    font-size: 24px;
    text-align: center;
  }

  p {
    text-indent: 0.5em;
  }

  .video {
    text-align: center;
    margin: 10px;
  }

  .amazon_link {
    text-align: center;
    margin: 10px;
  }
}

#footer {
  width: $page-width;
  margin: 0 auto;
  text-align: center;
  font-family: "Lilita One", cursive;
  font-size: 14px;
}
